body {
  font-family: "Arvo", serif;
}

/* first-banner start */
.navbar {
  background-color: rgba(146, 144, 144, 0.7);
  /* Semi-transparent black background */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* margin: 10px; */
  /* Ensures the navbar is above other content */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: 5px;
  /* White text color */
}

.resume-button {
  background-color: #ffffff;
  color: #3490dc;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.resume-button:hover {
  background-color: #e6f7ff;
}

/* Styles for the banner section */
.banner-container {
  height: 150vh;
  background-image: url("./assets/Hero-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #ffffff;
  /* White text color */
}

.banner-info {
  max-width: 600px;
  /* Adjust as needed */
  text-align: center;
}

.banner-image {
  margin-bottom: 20px;
  max-width: 100%;

  /* Ensure the image fits within its container */
}

.banner-text {
  font-size: 2rem;
  margin-bottom: 20px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: black;
  /* Blue background color */
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: black;
  /* Darker blue on hover */
}
/* end */

/* second-banner- start */

.container {
  max-width: 1280px;
  margin: 30px;
  padding: 20px 40px;
  background-color: rgb(245, 242, 242);
}

.banner-btn {
  margin: 10px;
  padding: 10px 20px;
  /* border: none; */
  cursor: pointer;
  color: gray;
  background-color: white;
  font-size: medium;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.section-title p {
  font-size: 1rem;
  color: #666;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 40px 0;
}

.hero-image {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero-text {
  max-width: 600px;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.hero-description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666;
}
/* end */

/* you-tube- section srart */

.youtubeContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 40px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}
. .navbar {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures the navbar is above other content */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff; /* White text color */
}

.resume-button {
  background-color: #ffffff;
  color: #3490dc;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: #e6f7ff;
}

/* Styles for the banner section */
.banner-container {
  height: 100vh;
  background-image: url("./assets/Hero-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #ffffff; /* White text color */
}

.banner-info {
  max-width: 600px; /* Adjust as needed */
  text-align: center;
}

.banner-image {
  margin-bottom: 20px;
  max-width: 100%; /* Ensure the image fits within its container */
}

.banner-text {
  font-size: 2rem;
  margin-bottom: 20px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #3490dc; /* Blue background color */
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2779bd; /* Darker blue on hover */
}

.section-title h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.section-title p {
  font-size: 1rem;
  color: #666;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.video-thumbnail {
  position: relative;
  width: 100%;
  max-width: 600px;
  cursor: pointer;
}

.video-thumbnail img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.video-thumbnail a {
  display: block;
  width: 100%;
  height: 100%;
}
.youtube-icon {
  width: 30px;
}

.youtube-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-thumbnail:hover .youtube-icon {
  opacity: 1;
}

/* end */

/* target section start */

.cardContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 40px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.section-title p {
  font-size: 1rem;
  color: #666;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: rgb(238, 134, 134);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  flex: 1;
  /* text-align: center; */
  padding: 20px;
  margin: 10px;
}

.card-1 {
  background-color: rgb(250, 230, 230);
}
.card-2 {
  background-color: rgb(238, 248, 248);
}
.card-3 {
  background-color: rgb(240, 240, 233);
}

.card-image {
  width: 50px;
  height: 60px;
  object-fit: cover;
  margin-left: 18px;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  font-size: 1rem;
  color: #666;
}
.card-btn {
  text-decoration: underline;
}

/* target section end */

/* next-target-section start */
.main-container {
  margin: 30px;
}

.react-card {
  display: flex;
  gap: 20px;
  border: 3px solid gray;
  box-shadow: 10px;
  align-items: center;
  padding: 10px;
  box-shadow: 20px;
  border-radius: 10px;
}
.nodejs-card {
  display: flex;
  gap: 20px;
  border: 3px solid gray;
  box-shadow: 10px;
  align-items: center;
  padding: 10px;
  box-shadow: 20px;
  border-radius: 10px;
}
.mongodb-card {
  display: flex;
  gap: 20px;
  border: 3px solid gray;
  box-shadow: 10px;
  align-items: center;
  padding: 10px;
  box-shadow: 20px;
  border-radius: 10px;
}

.img {
  height: 100px;
  width: 90px;
}

/* next-target-section end */

/* support-section start */
.footer {
  margin: 30px;
}
.support-section {
  background-image: url("./assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  padding: 4rem;
  text-align: center;
  color: #ffffff;
  margin: 30px;
  border-radius: 10px;
}

/* Styles for the form inside the section */
.support-form {
  max-width: 600px;
  margin: 0 auto;
}

.support-form input[type="email"] {
  width: calc(100% - 100px);
  padding: 1rem;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
  margin-right: -4px;
  /* compensate for the border on the button */
}

.support-form button {
  background-color: #3490dc;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.support-form button:hover {
  background-color: #2779bd;
}

.input-flex {
  display: flex;
  gap: 10px;
}

/* support-section end */

.footer {
  background-image: url("./assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  text-align: center;
  color: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

/* Styles for social icons */
.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
  transition: transform 0.3s ease;
}

.social-icons a:first-child {
  margin-left: 0;
}

.social-icons a img {
  width: 30px;
  /* Adjust icon size as needed */
  height: 30px;
  border-radius: 50%;
  /* Makes the icons round */
}

.social-icons a:hover {
  transform: translateY(-3px);
}
